<div class="flex bg-gray-100 border-b-2 border-gray-200 fixed top-0 inset-x-0 z-100 items-center lg:border-b-0 lg:static">
  <div class="w-full max-w-screen-xl relative mx-auto px-6">
    <div class='lg-:border-b-2 lg:border-gray-200 h-24 flex flex-col justify-center'>
      <div class="flex items-center -mx-6">
        <div class="lg:w-1/4 xl:w-1/5 pl-6 pr-6">
          <div class="flex items-center">
            <%= link_to '/', class: 'block lg:mr-4 flex space-x-4' do %>
              <%= inline_svg_pack_tag("media/images/airplane.svg" , title: 'Flight tracker' ,class: 'h-10 w-auto hidden md:block')%>
              <h1 class="self-center text-2xl">Flight Tracker</h1>
            <% end %>
          </div>
        </div>
        <div class="flex flex-grow lg:w-3/4 xl:w-4/5">
          <div class="w-full lg:px-6 lg:w-3/4 xl:px-12">
            <div class="relative w-full max-w-xs">
               <form action="" method="get" accept-charset="utf-8" >
                 <div class="">
                   <input 
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                      id="global-search" 
                      type="search" 
                      placeholder="Destination" 
                      data-behavior='autocomplete'/>
                 </div>
                  
                </form> 
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
